body {
  background-color: lightgrey;
}

.square {
  display: flex;
  flex-direction: column;
  height: 75px;
  width: 75px;
}

.column {
  vertical-align:top;
  display: inline-flex;
  flex-direction: row;
}